<a href="https://colab.research.google.com/github/kingsuching/data-301-final-project/blob/main/Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv("drive/MyDrive/df.csv")
df_departures = pd.read_csv("drive/MyDrive/df_departures.csv")
df_arrivals = pd.read_csv("drive/MyDrive/df_arrivals.csv")

In [ ]:
df

,Unnamed: 0,airport_code,cloud_friendly,conditions,pressure,pressure_units,raw_data,temp_air,temp_dewpoint,temp_perceived,...,visibility_units,wind_direction,wind_friendly,wind_speed,wind_speed_gust,wind_units,delay_secs,altitude,symbol,type
0,0,KSFO,Partly cloudy,NaN,30.25,in Hg,KSFO 142056Z 06004KT 10SM BKN200 15/08 A3025 R...,15,8,15,...,SM,60,Light winds,4,0,KT,182.666667,20000.0,BKN200,BKN
1,1,KSFO,Partly cloudy,NaN,30.28,in Hg,KSFO 141956Z 05005KT 10SM BKN200 14/07 A3028 R...,14,7,14,...,SM,50,Light winds,5,0,KT,182.666667,20000.0,BKN200,BKN
2,2,KSFO,Partly cloudy,NaN,30.29,in Hg,KSFO 141856Z 07004KT 10SM BKN200 13/07 A3029 R...,13,7,13,...,SM,70,Light winds,4,0,KT,182.666667,20000.0,BKN200,BKN
3,3,KSFO,Partly cloudy,NaN,30.29,in Hg,KSFO 141756Z 10005KT 10SM FEW200 13/06 A3029 R...,13,6,13,...,SM,100,Light winds,5,0,KT,182.666667,20000.0,FEW200,FEW
4,4,KSFO,Partly cloudy,NaN,30.30,in Hg,KSFO 141656Z 09004KT 10SM FEW200 12/05 A3030 R...,12,5,12,...,SM,90,Light winds,4,0,KT,182.666667,20000.0,FEW200,FEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,25,KSJC,Partly cloudy,NaN,30.24,in Hg,KSJC 131953Z COR VRB03KT 10SM FEW032 SCT180 BK...,18,8,18,...,SM,0,Calm winds,3,0,KT,-82.766667,3700.0,FEW037,FEW
86,26,KSJC,Partly cloudy,NaN,30.24,in Hg,KSJC 131853Z 00000KT 10SM FEW027 SCT045 BKN200...,17,7,17,...,SM,0,Calm winds,0,0,KT,-82.766667,3600.0,FEW036,FEW
87,27,KSJC,Partly cloudy,NaN,30.26,in Hg,KSJC 131753Z 33006KT 10SM FEW016 SCT042 BKN200...,16,8,16,...,SM,330,Light winds,6,0,KT,-82.766667,900.0,FEW009,FEW
88,28,KSJC,Partly cloudy,NaN,30.25,in Hg,KSJC 131653Z 00000KT 10SM FEW012 SCT042 BKN200...,13,7,13,...,SM,0,Calm winds,0,0,KT,-82.766667,800.0,FEW008,FEW
89,29,KSJC,Partly cloudy,NaN,30.22,in Hg,KSJC 131553Z 18003KT 10SM FEW001 FEW028 BKN160...,11,7,11,...,SM,180,Calm winds,3,0,KT,-82.766667,800.0,FEW008,FEW

In [ ]:
df_departures.head()

,Unnamed: 0,ident,fa_flight_id,operator,operator_iata,flight_number,registration,atc_ident,inbound_fa_flight_id,codeshares,...,gate_origin,gate_destination,terminal_origin,terminal_destination,type,origin.code,origin.airport_info_url,destination.code,destination.airport_info_url,destination
0,0,JAL1,JAL1-1647120060-schedule-0069,JAL,JL,1.0,JA865J,NaN,JAL58-1647076200-schedule-0977,"['AAL8400', 'MAS9101']",...,A2,NaN,I,3,Airline,KSFO,/airports/KSFO,RJTT,/airports/RJTT,NaN
1,1,JBU616,JBU616-1647120060-schedule-0008,JBU,B6,616.0,N983JT,NaN,JBU1833-1647089640-schedule-0182,"['AAL9236', 'SIA1491']",...,B6,12,1,5,Airline,KSFO,/airports/KSFO,KJFK,/airports/KJFK,NaN
2,2,EJM777,EJM777-1647207948-9-3-33,NaN,NaN,NaN,N777UT,NaN,EJM777-1647187549-4-0-33,[],...,NaN,NaN,NaN,NaN,General_Aviation,KSFO,/airports/KSFO,KARR,/airports/KARR,NaN
3,3,JBU578,JBU578-1647120060-schedule-0051,JBU,B6,578.0,N989JT,NaN,JBU577-1647091440-schedule-0102,"['JAL5890', 'SIA1546']",...,B7,G8,1,3,Airline,KSFO,/airports/KSFO,KFLL,/airports/KFLL,NaN
4,4,UAL2392,UAL2392-1647053467-fa-0011,UAL,UA,2392.0,N69838,NaN,UAL1561-1647053475-fa-0012,['ANZ9040'],...,E5,C25,3,NaN,Airline,KSFO,/airports/KSFO,KCLE,/airports/KCLE,NaN

In [ ]:
df_arrivals.head()

,Unnamed: 0,ident,fa_flight_id,operator,operator_iata,flight_number,registration,atc_ident,inbound_fa_flight_id,codeshares,...,seats_cabin_first,gate_origin,gate_destination,terminal_origin,terminal_destination,type,origin.code,origin.airport_info_url,destination.code,destination.airport_info_url
0,0,UAL2125,UAL2125-1647031082-fa-0001,UAL,UA,2125.0,N449UA,NaN,UAL552-1647031082-fa-0004,['ANZ9280'],...,12.0,70B,F2,7,3,Airline,KLAX,/airports/KLAX,KSFO,/airports/KSFO
1,1,TTE284,TTE284-1647223172-3-0-147,NaN,NaN,NaN,N284CP,NaN,TTE284-1647215994-2-0-147,[],...,NaN,NaN,NaN,NaN,NaN,General_Aviation,KMRY,/airports/KMRY,KSFO,/airports/KSFO
2,2,UAL2631,UAL2631-1647079051-fa-0004,UAL,UA,2631.0,N61882,NaN,UAL2428-1647079009-fa-0010,"['ACA3779', 'DLH7475']",...,20.0,5,F21,NaN,3,Airline,KPSP,/airports/KPSP,KSFO,/airports/KSFO
3,3,SKW4671,SKW4671-1647119099-airline-0302,SKW,OO,4671.0,N652BR,NaN,SKW5405-1647107400-schedule-0031,['UAL4671'],...,NaN,4,E3,NaN,3,Airline,KBFL,/airports/KBFL,KSFO,/airports/KSFO
4,4,AAR2127,AAR2127-1647246535-3-2-26,AAR,OZ,2127.0,HL7794,NaN,AAR2117-1647122666-5-0-29,[],...,NaN,NaN,NaN,NaN,NaN,Airline,RKSI,/airports/RKSI,KSFO,/airports/KSFO

In [ ]:
from re import A
from sklearn.preprocessing import *
from sklearn.model_selection import *
from sklearn.compose import *
from sklearn.pipeline import *
from sklearn.neighbors import *
from sklearn.compose import *
from sklearn.cluster import *
means = df_departures.groupby("origin.code")["departure_delay"].mean()
arr = []
for airport in df["airport_code"]:
  arr.append(means[airport])
df["delay_secs"] = arr

In [ ]:
def trainer(X_train, y_train, k = 5, pred = False):
  transformer = make_column_transformer(
    (OneHotEncoder(handle_unknown="ignore"), make_column_selector(dtype_exclude = np.number)),
    (StandardScaler(), make_column_selector(dtype_include = np.number))
  )
  pipeline = make_pipeline(transformer, KNeighborsRegressor(k))
  pipeline.fit(X_train, y_train)
  if pred:
    return pipeline.predict(X_train)
  return pipeline

In [ ]:
df["altitude"] = df["altitude"].astype(float)
X_train_df = df.drop(["airport_code", "pressure_units", "visibility_units", "wind_units", "symbol", "raw_data", "time", "delay_secs"], axis=1)
y_train_df = df["delay_secs"].fillna(0) # departure delay
y_train_df.index = range(len(y_train_df))
for col in X_train_df.columns:
  if X_train_df.dtypes[col] == object:
    X_train_df[col].fillna("", inplace=True)
  else:
    X_train_df[col].fillna(0, inplace=True)

pipeline = trainer(X_train_df, y_train_df)
predictions = pipeline.predict(X_train_df)
abs(y_train_df - predictions).mean()
np.sqrt(-cross_val_score(pipeline, X_train_df, y_train_df, scoring="neg_mean_squared_error", cv=10)).mean()
abs(y_train_df - pd.Series(predictions)).mean()/60

2.499161728395062

In [ ]:
X_train_df

,Unnamed: 0,cloud_friendly,conditions,pressure,temp_air,temp_dewpoint,temp_perceived,relative_humidity,visibility,wind_direction,wind_friendly,wind_speed,wind_speed_gust,altitude,type
0,0,Partly cloudy,0.0,30.25,15,8,15,65,10,60,Light winds,4,0,20000.0,BKN
1,1,Partly cloudy,0.0,30.28,14,7,14,64,10,50,Light winds,5,0,20000.0,BKN
2,2,Partly cloudy,0.0,30.29,13,7,13,69,10,70,Light winds,4,0,20000.0,BKN
3,3,Partly cloudy,0.0,30.29,13,6,13,66,10,100,Light winds,5,0,20000.0,FEW
4,4,Partly cloudy,0.0,30.30,12,5,12,64,10,90,Light winds,4,0,20000.0,FEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,25,Partly cloudy,0.0,30.24,18,8,18,53,10,0,Calm winds,3,0,3700.0,FEW
86,26,Partly cloudy,0.0,30.24,17,7,17,56,10,0,Calm winds,0,0,3600.0,FEW
87,27,Partly cloudy,0.0,30.26,16,8,16,62,10,330,Light winds,6,0,900.0,FEW
88,28,Partly cloudy,0.0,30.25,13,7,13,69,10,0,Calm winds,0,0,800.0,FEW
89,29,Partly cloudy,0.0,30.22,11,7,11,76,10,180,Calm winds,3,0,800.0,FEW

In [ ]:
df_arrivals[["departure_delay", "arrival_delay"]].fillna(0, inplace=True)
X_train_arr = df_arrivals[["operator", "origin.code", "destination.code", "aircraft_type"]]
y_train_arr = df_arrivals["arrival_delay"]
predictions = pd.Series(trainer(X_train_arr, y_train_arr, k=12, pred = True)).apply(lambda x: float(str(x)))
abs((y_train_arr - predictions)/60).mean()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5182: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

14.976111111111113

In [ ]:
X_train_dep = df_departures[["operator", "filed_airspeed", "origin.code", "destination.code", "aircraft_type"]]
for col in X_train_dep.columns:
  if X_train_dep.dtypes[col] == object:
    X_train_dep[col].fillna("", inplace=True)
  else:
    X_train_dep[col].fillna(0, inplace=True)
y_train_dep = df_departures["departure_delay"]
predictions = pd.Series(trainer(X_train_dep, y_train_dep, k=13, pred = True)).apply(lambda x: float(str(x)))
abs(y_train_dep - predictions).mean()/60

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

10.28435897435898

In [ ]:
def best_k(X_train, y_train, k=30):
  model = trainer(X_train, y_train)
  grid = GridSearchCV(model, param_grid={
                               "kneighborsregressor__n_neighbors": range(2, k+1)
                           }, scoring="neg_mean_squared_error", cv=10)
  grid.fit(X_train, y_train)
  return grid.best_estimator_

#best_k(X_train_dep, y_train_dep)
best_k(X_train_arr, y_train_arr)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f74aaa64d10>),
                                                 ('standardscaler',
                                                  StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f74aaa64b90>)])),
                ('kneighborsregressor', KNeighborsRegressor(n_neighbors=28))])

In [ ]:
best_k(X_train_df, y_train_df, 30)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f74aaa50210>),
                                                 ('standardscaler',
                                                  StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f74aaa50490>)])),
                ('kneighborsregressor', KNeighborsRegressor(n_neighbors=30))])

In [ ]:
best_k(X_train_dep, y_train_dep)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f74aaa39150>),
                                                 ('standardscaler',
                                                  StandardScaler(),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x7f74aaa39910>)])),
                ('kneighborsregressor', KNeighborsRegressor(n_neighbors=7))])

In [ ]:
weather_model = trainer(X_train_df, y_train_df)
testCaseWeather = {
    "Unnamed: 0": 0,
    "cloud_friendly": "Partly cloudy",
    "conditions": 0,
    "pressure": 29.94,
    "temp_air": 18,
    "temp_dewpoint": 8,
    "temp_perceived": 18,
    "relative_humidity": 60,
    "visibility": 10,
    "wind_direction": 295,
    "wind_friendly": "Calm winds",
    "wind_speed": 6,
    "wind_speed_gust": 10,
    "altitude": 20000,
    "type": "FEW"
}
weather_model.predict(pd.DataFrame([testCaseWeather]))

array([-29.68])

In [ ]:
X_train_df

,Unnamed: 0,cloud_friendly,conditions,pressure,temp_air,temp_dewpoint,temp_perceived,relative_humidity,visibility,wind_direction,wind_friendly,wind_speed,wind_speed_gust,altitude,type
0,0,Partly cloudy,0.0,30.25,15,8,15,65,10,60,Light winds,4,0,20000.0,BKN
1,1,Partly cloudy,0.0,30.28,14,7,14,64,10,50,Light winds,5,0,20000.0,BKN
2,2,Partly cloudy,0.0,30.29,13,7,13,69,10,70,Light winds,4,0,20000.0,BKN
3,3,Partly cloudy,0.0,30.29,13,6,13,66,10,100,Light winds,5,0,20000.0,FEW
4,4,Partly cloudy,0.0,30.30,12,5,12,64,10,90,Light winds,4,0,20000.0,FEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,25,Partly cloudy,0.0,30.24,18,8,18,53,10,0,Calm winds,3,0,3700.0,FEW
86,26,Partly cloudy,0.0,30.24,17,7,17,56,10,0,Calm winds,0,0,3600.0,FEW
87,27,Partly cloudy,0.0,30.26,16,8,16,62,10,330,Light winds,6,0,900.0,FEW
88,28,Partly cloudy,0.0,30.25,13,7,13,69,10,0,Calm winds,0,0,800.0,FEW
89,29,Partly cloudy,0.0,30.22,11,7,11,76,10,180,Calm winds,3,0,800.0,FEW

In [ ]:
model = trainer(X_train_arr, y_train_arr)
testCaseArr = {"operator": "UA",
                          "origin.code": "KSFO",
                          "destination.code": "KEWR",
                          "arrival_delay": 60*7,
               "aircraft_type": "B777"}
model.predict(pd.DataFrame([testCaseArr]))/60

array([13.83])

In [ ]:
model = trainer(X_train_dep, y_train_dep)
#df_departures[["operator", "filed_airspeed", "origin.code", "destination.code", "aircraft_type"]]


testCaseDep = {"operator": "UA", 
               "filed_airspeed": 450, 
               "origin.code": "KSFO", 
               "destination.code": "KEWR", 
               "aircraft_type": "B777"}



model.predict(pd.DataFrame([testCaseDep]))/60

KeyError: ignored

Predict the Airline You should Fly

In [ ]:
def modelor(X_train, y_train, k=5):
  transformer = make_column_transformer(
      (OneHotEncoder(handle_unknown="ignore"), make_column_selector(dtype_exclude = np.number)),
      (StandardScaler(), make_column_selector(dtype_include = np.number))
  )
  pipeline = make_pipeline(transformer, KNeighborsClassifier(n_neighbors=k))
  pipeline.fit(X_train, y_train)
  return pipeline

In [ ]:
X_train_dep = df_departures[["departure_delay", "arrival_delay", "origin.code", "destination.code"]].fillna("0")
X_train_dep["arrival_delay"] = X_train_dep["arrival_delay"].astype(float)
y_train_dep = df_departures["operator"].fillna("")
model = modelor(X_train_dep, y_train_dep)
model.predict(X_train_dep)
#X_train_dep.isnull().sum()

array(['UAL', 'AAL', 'UAL', 'ASA', 'UAL', 'UAL', 'UAL', 'AAL', 'SKW',
       'JBU', 'UAL', 'SKW', 'AAL', 'DAL', 'UAL', 'SWA', '', 'ASA', 'UAL',
       'UAL', 'ASA', 'UAL', 'UAL', 'SWA', 'AAL', 'UAL', '', 'UAL', 'UAL',
       'UAL', '', '', '', '', '', 'SWA', 'SWA', '', '', '', '', '', '',
       'SWA', '', '', '', 'SWA', 'SWA', 'SWA', 'SWA', '', 'SWA', 'SWA',
       'SWA', '', '', '', '', '', 'SWA', 'SWA', 'SKW', '', 'SWA', 'SWA',
       'SKW', 'SWA', 'ASA', 'SKW', 'SWA', 'SKW', 'SWA', 'SWA', 'SWA',
       'SWA', 'SKW', 'SWA', 'ASA', 'SWA', 'SKW', 'SWA', 'ASA', '', '',
       'SWA', 'SKW', 'SWA', 'SWA', 'SWA'], dtype=object)

In [ ]:
testCase = pd.DataFrame([{
    "departure_delay": 5*60,
    "arrival_delay": -22*60,
    "origin.code": "KSFO",
    "destination.code": "KEWR"
}])
model.predict(testCase)

array(['UAL'], dtype=object)

In [ ]:
from sklearn.metrics import *
arr = pd.Series()
predictions = model.predict(X_train_dep)
for airline in y_train_dep.unique():
  arr[airline] = f1_score(y_train_dep == airline, predictions == airline)
arr.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

0.18817800882700036

In [ ]:
df_departures.append(df_arrivals).drop("destination", axis=1)

,Unnamed: 0,ident,fa_flight_id,operator,operator_iata,flight_number,registration,atc_ident,inbound_fa_flight_id,codeshares,...,seats_cabin_first,gate_origin,gate_destination,terminal_origin,terminal_destination,type,origin.code,origin.airport_info_url,destination.code,destination.airport_info_url
0,0,JAL1,JAL1-1647120060-schedule-0069,JAL,JL,1.0,JA865J,NaN,JAL58-1647076200-schedule-0977,"['AAL8400', 'MAS9101']",...,NaN,A2,NaN,I,3,Airline,KSFO,/airports/KSFO,RJTT,/airports/RJTT
1,1,JBU616,JBU616-1647120060-schedule-0008,JBU,B6,616.0,N983JT,NaN,JBU1833-1647089640-schedule-0182,"['AAL9236', 'SIA1491']",...,NaN,B6,12,1,5,Airline,KSFO,/airports/KSFO,KJFK,/airports/KJFK
2,2,EJM777,EJM777-1647207948-9-3-33,NaN,NaN,NaN,N777UT,NaN,EJM777-1647187549-4-0-33,[],...,NaN,NaN,NaN,NaN,NaN,General_Aviation,KSFO,/airports/KSFO,KARR,/airports/KARR
3,3,JBU578,JBU578-1647120060-schedule-0051,JBU,B6,578.0,N989JT,NaN,JBU577-1647091440-schedule-0102,"['JAL5890', 'SIA1546']",...,NaN,B7,G8,1,3,Airline,KSFO,/airports/KSFO,KFLL,/airports/KFLL
4,4,UAL2392,UAL2392-1647053467-fa-0011,UAL,UA,2392.0,N69838,NaN,UAL1561-1647053475-fa-0012,['ANZ9040'],...,20.0,E5,C25,3,NaN,Airline,KSFO,/airports/KSFO,KCLE,/airports/KCLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,70,DAL2803,DAL2803-1647062008-fa-0000,DAL,DL,2803.0,N364NB,NaN,DAL2602-1647061923-fa-0000,['KLM7194'],...,NaN,F1,13,1,A,Airline,KMSP,/airports/KMSP,KSJC,/airports/KSJC
221,71,SWA999,SWA999-1647136200-schedule-0065,SWA,WN,999.0,N233LV,NaN,SWA998-1647129368-airline-0310,[],...,0.0,10,33,1,B,Airline,KSAN,/airports/KSAN,KSJC,/airports/KSJC
222,72,SWA1264,SWA1264-1647133093-airline-0310,SWA,WN,1264.0,N491WN,NaN,SWA2138-1646881817-airline-0029,[],...,NaN,A4,31,NaN,B,Airline,KBUR,/airports/KBUR,KSJC,/airports/KSJC
223,73,SWA1521,SWA1521-1647138975-airline-0060,SWA,WN,1521.0,N732SW,NaN,SWA1520-1647132779-airline-0296,[],...,NaN,A2,32,NaN,B,Airline,KBUR,/airports/KBUR,KSJC,/airports/KSJC
224,74,SWA1034,SWA1034-1647099195-airline-0252,SWA,WN,1034.0,N8721J,NaN,SWA1034-1647099195-airline-0253,[],...,NaN,18,28,NaN,B,Airline,KAUS,/airports/KAUS,KSJC,/airports/KSJC

In [ ]:
def clean(df, stringVal = "", numVal = 0):
  for col in df.columns:
    if df.dtypes[col] == object:
      df[col] = df[col].fillna(stringVal)
    else:
      df[col] = df[col].fillna(numVal)
  return df

Decision Tree Classifier: Which airline should you fly based on the above features of a flight (origin, destination, weather, etc.)?

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
transformer = make_column_transformer(
    (OneHotEncoder(handle_unknown="ignore"), make_column_selector(dtype_exclude=np.number)),
    (StandardScaler(), make_column_selector(dtype_include=np.number))
)
pipeline = make_pipeline(transformer, dtc)
pipeline.fit(X_train_dep, y_train_dep)
predictions = pd.Series(pipeline.predict(X_train_dep))
arr = pd.Series()
predictions = model.predict(X_train_dep)
for airline in y_train_dep.unique():
  arr[airline] = f1_score(y_train_dep == airline, predictions == airline)
arr.mean() # average f1 score of all of the airlines

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  # Remove the CWD from sys.path while we load stuff.

0.18817800882700036

# ***Model Predictions***

Final Prediction

In [ ]:
weather_model = trainer(X_train_df, y_train_df)
testCaseWeather = {
    "Unnamed: 0": 0,
    "cloud_friendly": "Partly cloudy",
    "conditions": 0,
    "pressure": 29.94,
    "temp_air": 18,
    "temp_dewpoint": 8,
    "temp_perceived": 18,
    "relative_humidity": 60,
    "visibility": 10,
    "wind_direction": 295,
    "wind_friendly": "Calm winds",
    "wind_speed": 6,
    "wind_speed_gust": 10,
    "altitude": 20000,
    "type": "FEW"
}
weather_model.predict(pd.DataFrame([testCaseWeather]))

In [ ]:
from sklearn.linear_model import *
def full_model(weather, departure, arrival):
  weather = pd.DataFrame([weather])
  departure = pd.DataFrame([departure])
  arrival = pd.DataFrame([arrival])
  weather_model = trainer(X_train_df, y_train_df)
  departure_model = trainer(X_train_dep, y_train_dep)
  arrival_model = trainer(X_train_arr, y_train_arr)
  predictions = [weather_model.predict(weather), departure_model.predict(departure), arrival_model.predict(arrival)]
  return pd.Series(predictions).mean()/60

full_model(testCaseWeather, testCaseDep, testCaseArr)

array([3.37844444])